<div *ngIf="tasks; then Tasks"></div>

<ng-template #Tasks>
  <div class="row" *ngIf="tasks">
    <div class="col-md-4" *ngFor="let item of tasks">
      <app-task-item [task]="item"></app-task-item>
    </div>
  </div>
</ng-template>

<div class="row margin-top-10px">
  <div class="col-md-12 ">
    <app-pagination (setPage)="getTasks($event)"></app-pagination>
  </div>
</div>
