<nav class="navbar navbar-expand-md navbar-dark">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">BeeJee Test</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="mr-auto">
      </div>
      <div class="form-inline mt-2 mt-md-0">
        <ul class="navbar-nav">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" [routerLink]="['/']">{{"nav.home" | translate}}</a>
          </li>
          <li class="nav-item" routerLinkActive="active" *ngIf="!(auth.user | async)">
            <a class="nav-link" [routerLink]="['/login']">{{"nav.login" | translate}}</a>
          </li>
          <li class="nav-item" routerLinkActive="active" *ngIf="(auth.user | async)">
            <a class="nav-link" [routerLink]="['/profile']">{{"nav.profile" | translate}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
