<div class="row">
  <div class="col-md-6 offset-md-3">
    <form class="form-signin needs-validation" *ngIf="task"
          [ngClass]="{'was-validated': text.touched}"
          [formGroup]="editTaskForm" (ngSubmit)="updateTask()"
          novalidate>
      <h4 class="h3 mb-3 font-weight-normal margin-top-10px">Create task</h4>
      <div class="form-group">
        <label for="text">Text</label>
        <textarea id="text" class="form-control" [ngClass]="{'is-invalid': text.invalid && text.touched}"
                  type="text" formControlName="text"
                  placeholder="Text" required></textarea>
        <div class="invalid-feedback" *ngIf="text.errors && text.touched && text.errors['required']">
          Text filed is required
        </div>
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <select id="status" class="form-control" formControlName="status">
          <option value="0">Incomplete</option>
          <option value="10">Complete</option>
        </select>
        <div class="invalid-feedback" *ngIf="text.errors && text.touched && text.errors['required']">
          Text filed is required
        </div>
      </div>
      <div class="alert alert-danger" *ngIf="notifyService.msg | async as errors">
        <span *ngFor="let err of errors.content">{{err}}</span>
      </div>
      <button class="btn btn-success" type="submit" [disabled]="!editTaskForm.valid">Update task</button>
    </form>
  </div>
</div>
