<div class="row">
  <div class="col-md-6 offset-md-3">
    <form class="form-signin needs-validation"
          [ngClass]="{'was-validated': email.touched || username.touched || text.touched}"
          [formGroup]="createTaskForm" (ngSubmit)="createTask()"
          novalidate>
      <h4 class="h3 mb-3 font-weight-normal margin-top-10px">Create task</h4>
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" class="form-control" type="email" formControlName="email" placeholder="Email" required
               autocomplete>
        <div class="invalid-feedback" *ngIf="email.errors && email.touched && email.errors['required']">
          Email is required
        </div>
        <div class="invalid-feedback"
             *ngIf="email.errors && email.invalid && email.dirty && !email.errors['required']">
          Email is invalid
        </div>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input id="username" class="form-control" [ngClass]="{'is-invalid': username.invalid && username.touched}"
               type="text" formControlName="username"
               placeholder="Username" required autocomplete>
        <div class="invalid-feedback" *ngIf="username.errors && username.touched && username.errors['required']">
          Username is required
        </div>
      </div>
      <div class="form-group">
        <label for="text">Text</label>
        <textarea id="text" class="form-control" [ngClass]="{'is-invalid': text.invalid && text.touched}"
                  type="text" formControlName="text"
                  placeholder="Text" required></textarea>
        <div class="invalid-feedback" *ngIf="text.errors && text.touched && text.errors['required']">
          Text filed is required
        </div>
      </div>
      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Image</span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01"
                   (change)="fileChangeEvent($event)">
            <label class="custom-file-label" for="inputGroupFile01">{{file ? file.name : 'Choose image'}}</label>
          </div>
        </div>
        <div class="alert alert-danger" *ngIf="notImage">
          File is not an image
        </div>
      </div>
      <div class="alert alert-danger" *ngIf="notifyService.msg | async as errors">
        <span *ngFor="let err of errors.content">{{err}}</span>
      </div>
      <button class="btn btn-success" type="submit" [disabled]="!createTaskForm.valid">Create</button>
      <button class="btn btn-primary" type="button" (click)="createPreview()">Preview task
      </button>
    </form>
    <div id="resizeImg"></div>
    <div class="row margin-top-10px">
      <div class="col-md-12">
        <app-task-preview></app-task-preview>
      </div>
    </div>
  </div>
</div>
