<div class="jumbotron margin-top-10px">
  <h1 class="display-4">Hello, BeeJee!</h1>
  <p class="lead">This is a test project with "Tasks" made by Maksym Shevchuk. Using Angular 5. Bootstrap 4.</p>
  <hr class="my-4">
  <p>Click on button for recieving tasks from Backend</p>
  <p class="lead">
    <button class="btn btn-primary btn-lg" *ngIf="!loading" (click)="getTasks()">Get Tasks</button>
    <button class="btn btn-secondary btn-lg" [routerLink]="'/tasks/create'">Create task</button>
    <button class="btn btn-primary btn-lg" *ngIf="loading" disabled>
      <i class="fa fa-spinner fa-spin fa-fw"></i>
      <span class="sr-only">Loading...</span></button>
  </p>
</div>
<div class="row">
  <div class="col-md-12">
    <app-tasks-list (loading)="loading = $event"></app-tasks-list>
  </div>
</div>
