<div class="card" *ngIf="task | async as card">
  <img class="card-img-top img-fluid" [src]="card.image_path" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ card.username }}</h5>
    <p>{{card.email}}</p>
  </div>
</div>
