<div class="row">
  <div class="col-md-6 offset-md-3">
    <ng-container *ngIf="(auth.user | async) || {} as user">
      <form class="form-signin needs-validation" [ngClass]="{'was-validated': email.touched && password.touched}"
            [formGroup]="loginForm"
            *ngIf="!user.uid" (ngSubmit)="login()"
            novalidate>
        <h4 class="h3 mb-3 font-weight-normal margin-top-10px">{{"login.please-login" | translate}}</h4>
        <div class="form-group">
          <label for="email" class="sr-only">Email</label>
          <input id="email" class="form-control" type="email" formControlName="email" placeholder="Email" required>
          <div class="invalid-feedback" *ngIf="email.errors && email.touched && email.errors['required']">
            {{"login.email.required" | translate}}
          </div>
          <div class="invalid-feedback"
               *ngIf="email.errors && email.invalid && email.dirty && !email.errors['required']">
            {{"login.email.invalid" | translate}}
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="sr-only">Password</label>
          <input id="password" class="form-control" [ngClass]="{'is-invalid': password.invalid && password.touched}"
                 type="password" formControlName="password"
                 placeholder="{{'login.password' | translate}}" required autocomplete>
          <div class="invalid-feedback" *ngIf="password.invalid && password.touched">
            {{"login.password.invalid" | translate}}
          </div>
        </div>
        <div class="alert alert-danger" *ngIf="notifyService.msg | async as errors">
          {{errors.content | translate}}
        </div>
        <button class="btn btn-default" type="submit" [disabled]="!loginForm.valid">{{"login.login" | translate}}
        </button>
      </form>
    </ng-container>
  </div>
</div>
