<div class="row">
  <div class="col-md-6 offset-md-3">
    <ng-container *ngIf="(auth.user | async) || {} as user">
      <form class="form-signin needs-validation" [ngClass]="{'was-validated': email.touched && password.touched}"
            [formGroup]="registrationForm"
            *ngIf="!user.uid" (ngSubmit)="login()"
            novalidate>
        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">{{"registration.registration" | translate}}</h1>
        <label for="email" class="sr-only">Email</label>
        <input id="email" class="form-control" type="email" formControlName="email" placeholder="Email" required>
        <div class="invalid-feedback" *ngIf="email.errors && email.touched && email.errors['required']">
          {{"login.email.required" | translate}}
        </div>
        <div class="invalid-feedback" *ngIf="email.errors && email.invalid && email.dirty && !email.errors['required']">
          {{"login.email.invalid" | translate}}
        </div>
        <label for="password" class="sr-only">Password</label>
        <input id="password" class="form-control" [ngClass]="{'is-invalid': password.invalid && password.touched}"
               type="password" formControlName="password"
               placeholder="{{'login.password' | translate}}" required autocomplete>
        <div class="invalid-feedback" *ngIf="password.invalid && password.touched">
          {{"login.password.invalid" | translate}}
        </div>
        <div *ngIf="notifyService.msg | async as errors">
          <p>{{errors.content}}</p>
        </div>
        <div class="valid-feedback" *ngIf="registrationForm.valid">{{"login.form.valid" | translate}}</div>
        <button class="btn btn-default" type="submit" [disabled]="!registrationForm.valid">
          {{"registration.registration" | translate}}
        </button>
      </form>
      <form [formGroup]="detailForm" *ngIf="user.uid && !user.userType" (ngSubmit)="setUserType(user)">
        <h3>Set your type</h3>
        <label for="userType" class="sr-only">User Type</label>
        <input id="userType" type="text" formControlName="userType">
        <button type="submit" [disabled]="!detailForm.valid">Submit</button>
      </form>
      <p *ngIf="user.userType">
        You have completed the form!
      </p>
    </ng-container>
  </div>
</div>
