<div *ngIf="auth.user | async; then authenticated">
  <!-- template will replace this div -->
</div>

<!-- User logged in -->
<ng-template #authenticated>
  <div class="row margin-top-10px">
    <div class="col-md-4 offset-md-4">
      <div class="card" *ngIf="auth.user | async as user">
        <img class="card-img-top img-fluid" [src]="user.photoURL" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ user.displayName }}</h5>
          <p>{{user.email}}</p>
          <p>Is admin: <span class="badge badge-primary">{{ user.admin ? 'Yes' : 'No' }}</span>
          </p>
          <button class="btn btn-dark" (click)="auth.signOut()">Logout</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
