<div class="card">
  <img class="card-img-top" src="{{task.image_path}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{task.username}}</h5>
    <p>{{task.email}}</p>
    <p><span class="badge" [ngClass]="{'badge-danger': task.status === 0,'badge-primary': task.status === 0}">
          {{(task.status | status) | translate}}
        </span></p>
    <p class="card-text">{{task.text}}.</p>
    <div *ngIf="auth.user | async; then authenticated">
    </div>
  </div>
</div>

<ng-template #authenticated>
  <div *ngIf="auth.user | async as user">
    <button class="btn btn-primary" *ngIf="user.admin" (click)="setEditTask()">Edit task</button>
  </div>
</ng-template>
