@import "~bootstrap/dist/css/bootstrap.css";

/**
    Common styles
 */

.margin-top-10px {
  margin-top: 10px;
}

.margin-bottom-10px {
  margin-bottom: 10px;
}

/**
    Validation styles
 */

.was-validated .form-control:invalid, .form-control.is-invalid, .was-validated .custom-select:invalid {
  border-color: rgb(220, 53, 69) !important;
}

.form-control.is-invalid:focus {
  border-color: #dc3545 !important;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
}

.custom-file-input.is-invalid ~ .custom-file-label {
  border-color: #dc3545 !important;
}

.was-validated .custom-file-input:valid ~ .custom-file-label, .custom-file-input.is-valid ~ .custom-file-label {
  border-color: #ced4da;
}

/**
    Navbar
 */

.navbar-dark .navbar-brand {
  color: #000000;
}

.navbar {
  background-color: #f2c12c;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.66);
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link {
  color: #000000;
  font-weight: 500;
}
